.background {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  opacity: 0.7;
}

header ul {
    margin-top: 70px;
}
header li {
  display: inline;
  margin: 30px;
  margin-left: 50px;
  font-size: 30px;
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: rgba(190, 160, 20, 1);
  background: rgba(0, 0, 0, 1);
  font-family: helvetica, sans-serif;
}

a {
  color: rgba(190, 160, 20, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: overline;
}

.content {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 900px;
  height: 400px;
  background-color: rgba(197, 10, 77, .7);
  border-radius: 25px;
  font-family: 'Raleway', sans-serif;
  overflow: scroll;
}

p {
  font-size: 20px;
  padding: 10px 20px 10px 50px;
  color: black;
  line-height: 25px;
}

.album {
  padding: 20px 50px;

  overflow: auto;
}

.album img {
  float: left;
  display: block;
}

.album h4 {
  margin-left: 100px;
  text-decoration: underline;
}

.album p {
  display: inline-block;
  color: rgba(190, 160, 20, 1);
  vertical-align: middle;
}

.artist h4 {
  text-decoration: underline;
}

#home {
  visibility: visible;
  display: block;
}

#artists {
  visibility: hidden;
  display: none;
}

#store {
  visibility: hidden;
  display: none;
}

#press {
  visibility: hidden;
  display: none;
}

#contact {
  visibility: hidden;
  display: none;
}


h1 {
  font-size: 160px;
  margin: 80px 20px 0 10px;
  text-align: right;
}

h2 {
  font-size: 65px;
  margin: -10px 20px 20px 100px;
  text-align: right;
}

h3 {
  font-size: 55px;
  margin: 20px 20px 20px 20px;
  text-align: left;
  padding: 0 20px 0 20px;
}

h4 {
  font-size: 25px;
  margin: 20px 20px 20px 20px;
  text-align: left;
  padding: 0 20px 0 20px;
  color: black;
}

footer {
  bottom: 60px;
  right: 60px;
  position: fixed;
  text-align: right;
  width: 100%;
}

form {
  margin: 15px;
  padding: 10px;
}

input {
  border: 0;
  padding: 10px;
  margin: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  width: 223px;
}

textarea {
  border: 0;
  padding: 10px;
  margin: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
}

input[type="submit"] {
  background: rgba(190, 160, 20, 1);
  color: white;
  border-radius: 15px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 60px;
  }
}